version: '3.8'

services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: gymclubdb
      MYSQL_USER: gymuser
      MYSQL_PASSWORD: userpassword
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    restart: always
    environment:
      DATABASE_URL: mysql://gymuser:userpassword@db/gymclubdb
    depends_on:
      - db

  frontend:
    build: ./frontend
    restart: always
    ports:
      - '80:80'
    depends_on:
      - backend

volumes:
  db_data: